*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
    background: cornflowerblue;
}

header {
    display: flex;
    justify-content: center;
}

header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.adicionar-elemento input{
    outline: none;
    border: 3px solid rgb(255, 255, 255);
    height: 40px;
    width: 17rem;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.adicionar-elemento button{
    padding: 0.7rem;
}

.lista-elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.lista-elementos ul li{
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid white;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.8rem;

}

#btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
#btn:active {
	position:relative;
	top:1px;
}

#btnD{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

